@import './scroll.less';
@import './transition.less';
@import './theme/index.less';
@import './theme/default.less';
@import './fix-windicss.less';
html,body{
  margin:0;
  padding:0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
div#app {
  height: 100%
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}


.el-input__prefix-inner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-input__prefix{

}
